<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form name="f" th:method="POST" th:action="/process_login">
    <label for="username">Введите имя</label>
    <input type="text" id="username" name="username"/>
    <br/>
    <label for="age">Enter age</label>
    <input type="text" id="age" th:field="*{age}"/>
    <br/>
    <input type="submit" value="Create"/>
</form>
<br/>
</body>
</html>